%h1 Choose your empire.
%div
  Empires are groups that you must join in order to make any progress in the game.
- @empires.each do |empire|
  -if empire.id != 255
    %div
      = link_to "empires/choose/#{empire.id}" do
        = empire.name.inspect
