.bundle
db/*.sqlite3
log/*.log
tmp/
public/javascripts/application.js
public/javascripts/game.js
public/javascripts/map.js
public/stylesheets/**/*.css
public/stylesheets/*.css
public/images/tiles-*.png
