!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
  %body
    %h1
      Welcome to the game,
      =@user.name
    %p
      To log in, just follow this link:
      =@link
    %p
      Thanks, - The Game Team

