#map.map_container
  #map_viewport.map_pane
    .tile_pane
    .objects_pane
  #map_controls.control_container
    .map_top.map_left
      .map_control.map_control_zoom
        %a.iconic.plus
        %a.iconic.minus
    .map_top.map_right
    .map_bottom.map_left
    .map_bottom.map_right
#map_bar
  #map_data
    - if current_user
      = render :partial => 'chats/chatbar'
  #map_position
