/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@rails3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/map/map.scss */
#map {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #F4F0EC;
  z-index: -10;
}

/* line 9, ../../app/stylesheets/map/map.scss */
#map_bar {
  position: absolute;
  min-width: 225px;
  max-width: 225px;
  overflow: auto;
  background-color: #000;
  box-shadow: 3px 0 20px #000;
  -moz-box-shadow: 3px 0 20px #000;
  -webkit-box-shadow: 3px 0 20px #000;
  z-index: 20;
}

/* line 21, ../../app/stylesheets/map/map.scss */
#map_position, #map_data {
  color: #FFF;
  font-size: .846em;
  font: normal small "Lucida Grande", Verdana, sans-serif;
  vertical-align: bottom;
}

/* line 28, ../../app/stylesheets/map/map.scss */
#map_viewport {
  left: 0px;
  top: 0px;
  position: relative;
  float: right;
}

/* line 35, ../../app/stylesheets/map/map.scss */
.map_tiles {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
