#chat
  #global-chat.chat
    %h1 Global chat
    #global-chat-box.chat-box
  #empire-chat.chat
    %h1 Empire chat
    #empire-chat-box.chat-box
  .chat-form
    = form_tag '/chat/send', :remote => true
    = text_field_tag(:msg)
    = hidden_field_tag :type, 'global'

