%h1 Choose your empire.
%div
  Empires are groups that you must join in order to make any progress in the game.
- @empires.each do |empire|
  %div
    = link_to "empire/choose/#{empire.id}" do
      = empire.name.inspect
