#chat {
  margin-top: 5px;
  border: 1px #ddd solid;
  .chat-message {
    margin-bottom: 3px;
    max-width: 225px;
  }
  .chat-box {
    height: 200px;
    overflow-y: scroll;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  form input {
    // Reset the element and set the basics.
    width: 225px;
    border: 0;
    padding: 0 0 0 0;
    outline: 0;
    display: block;

    // This is to compensate for the border specified above for the .chat class.
    margin-left: -2px;
  }
}
