@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";

#navbar {
  vertical-align: middle;
  background-color: #000;
  color: #ccc;
  height: 27px;
  font: normal 12px "Lucida Grande", Verdana, sans-serif;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  @include box-shadow(0 0 25px #000);
  z-index: 25;
  a {
    color: #fff;
    text-decoration: none;
  }
  ul li {
    margin-top: 0.4em;
    margin-left: 2px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    font-size: 1.1em;
    &.active, &:focus, &:hover, &:active, &:active:focus {
      @include border-radius(7px);
      background: #444;
    }
  }
  .iconic {
    font-size: 125%;
  }
  #navbar-user {
    float: right;
  }
  #navbar-menu {
    float: left;
  }
}

#modal {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50px;
  z-index: 100;
  background-color: #eee;
  width: 500px;
  min-height: 200px;
  padding: 10px 10px 10px 10px;
  @include box-shadow(0 0 25px #eee);
  @include border-radius(10px);
  h1 {
    font-size: 200%;
    padding-bottom: 10px;
  }
}

#modal-overlay {
  z-index: 99;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include opacity(0.8);
  display: none;
}
