@import "mixins";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
$tile_size: 256px;

#map {
  position:absolute;
  left:0; top:0;
  overflow: hidden;
  background-color: #F4F0EC;
  z-index: -10;
}

#map_bar {
  position:absolute;
  min-width: 225px;
  max-width: 225px;
  overflow: auto;
  background-color: #000;
  @include box-shadow(3px 0 20px #000);
  z-index: 20;
}

#map_position, #map_data {
  color: #FFF;
  font-size: .846em;
  font: normal small "Lucida Grande", Verdana, sans-serif;
  position: absolute;
}

#map_data {
  display: none;
}

#map_position {
  bottom: 0;
}

#map_viewport {
  left: 0px;
  top: 0px;
  position: relative;
  float:right;
}

#map_notif {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -150px;
  min-height: 30px;
  width: 300px;
  @include border-top-radius(10px);
  background-color: #000;
  text-align: center;
  color: #ddd;
  @include opacity(0.75);
  display: none;
}

#map_notif:hover {
  @include opaque;
}

.map_tiles {
  @include vendor("user-select", none);
  width: $tile_size;
  height: $tile_size;
  position: absolute;
}
