@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/shared";
$tile_size: 256px;

.map_container {
  overflow: hidden;
}

.map_control {
  float: left;
  clear: both;
  position: relative;
}

.map_top, .map_bottom {
  position: absolute;
}

.map_top {
  top: 0;
  .map_control {
    margin-top: 10px;
  }
}

.map_right {
  right: 0;
  .map_control {
    float: right;
    margin-right: 10px;
  }
}

.map_bottom {
  bottom: 0;
  .map_control {
    margin-bottom: 10px;
  }
}

.map_left {
  left: 0;
  .map_control {
    margin-left: 10px;
  }
}

.map_control_zoom {
  @include border-radius(7px);
  padding: 5px;
  background: rgba(0, 0, 0, 0.25);
  a {
    background-color: rgba(255, 255, 255, 0.75);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    @include border-radius(4px);
    width: 19px;
    height: 19px;
    text-align: center;
    font-size: 125%;

    &:hover {
      background-color: #FFF;
    }
    &.plus {
      margin-bottom: 5px;
    }
  }
}

#map_bar {
  position:absolute;
  min-width: 225px;
  max-width: 225px;
  overflow: auto;
  background-color: #000;
  float: right;
  @include box-shadow(0px 0 20px #000);
  z-index: 20;
}

#map_position, #map_data {
  color: #FFF;
  font-size: .846em;
  font: normal 12px Verdana, sans-serif;
  position: absolute;
}

#map_position {
  bottom: 0;
}

.map_tiles {
  @include experimental("user-select", none);
  width: $tile_size;
  height: $tile_size;
  position: absolute;
}

#map_highlight {
  position: absolute;
}
